.primary-button {
    background-color: $primary-color;
    color: $text-white;
    border:none;
    width: 173px;
    padding: 12px 0;
    border-radius: 4px;
    margin-right: 20px;
    font-weight: 600;
}

.primary-button:hover {
    background-color: $orange-shade-2;
}

.primary-button:active {
    background-color: $red;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    width: 173px;
    padding: 10px 0;
    border-radius: 4px;
    margin-right: 20px;
    box-sizing: border-box;
    font-weight: 600;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.secondary-button:hover {
    color: $text-white;
    background-color: $orange-shade-2;
    border: 2px solid $orange-shade-2;
}

.secondary-button:active {
    background-color: $red;
}

.secondary-button--light {
    border: 2px solid $text-white;
    color: $text-white;
}

.next-section-button {
    display: flex;
    align-items: center;

    img {
        width: 25px;
        margin-right: 14px;
    }
}

.next-section-button:hover {
    p {
        text-decoration: underline;
    }
    cursor: pointer;
}