.vision-section {
    padding-top: 100px;
    position: relative;

    min-height: 100vh;

    .bubbles-right {
        position: absolute;
        right: -140px;
        top: -420px;
    }

    .bubbles-right-sm {
        width: 500px;
        position: absolute;
        right: -80px;
        top: -40px;
    }

    .row {
        margin-bottom: 30px;;
    }

    .vision-section-spacer {
        height: 300px;
    }
}

@media only screen and (max-width: 1025px) {
    .vision-section {
        // .bubbles-right {
        //     width: 500px;
        // }
    
    }
}