.project-section {
    .container {
        h1 {
            width: 100%;
            text-align: center;
            margin: 100px;
        }
        width: 60%;
        display : flex;
        justify-content:center;
        flex-wrap: wrap;
    }
}