.vision-section {
    padding-top: 120px;
    position: relative;

    min-height: 75vh;
    display: flex;
    align-items:center;

    .bubbles-right {
        position: absolute;
        right: -140px;
        top: -400px;
    }

    .bubbles-right-sm {
        min-width: 500px;
        position: relative;
        left: 15%;
    }

    .row {
        margin-bottom: 30px;;
    }

    // .vision-section-spacer {
    //     height: 300px;
    // }

    .next-section-button-container {
        position: absolute;
        bottom: -260px;
    }
}

@media only screen and (max-width: 1025px) {
    .vision-section {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}